@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.reviewsTitle{
	font-family: 'Kalam', cursive;
	font-size: 260%;
	margin-top: 0;
	margin-bottom: 0;
}

.reviews{
	margin: 0 1% 0 2%;
	padding: 5px 10px;
	background-color: rgba(220, 220, 220, 0.5);
	border-radius: 5px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
	max-height: 84%;
	overflow-x: hidden;
	overflow-y: auto;
}
.noReviews > svg{
	width: 33%;
	height: 33%;
	margin: 5% auto 0 auto;
}
.noReviews > button{
	width: 90%;
}

.review:last-child > hr {
	border: none;
}

@media screen and (max-width: 450px) {
	.gameReviews > div > div > div > .reviewRight > p {
		font-size: 120%;
	}
}
